{* Latte template *}
{layout '../@layout.latte'}

{block content}
    <div id="content">
        {if $prava == '9'}
            {control symbolOrdDataGrid}
        {else}
            <p n:class="alert, 'alert-danger'">Nemáte dostatečná práva!!</p>
        {/if}    
    </div>
{/block}

