parameters:
	attachments: 
		MAX_FILE_SIZE: 14000
		MAX_FILE_NAME_LENGTH: 99
		RETRY_LOCK_MINUTES: 2

	CODE_PROLONG_TIME: 60
	CODE_VALID_TIME: 60

	appName: 'AkesoLekovnice'
	admin: 'smidv@nember.cz'
	name: 'AkesoLekovnice'

	mailerConfig:
		host: 10.40.20.5                           # Specify main and backup SMTP servers
		smtpauth: false                            # Enable SMTP authentication
		smtpsecure: tls                            # Enable TLS encryption, `ssl` also accepted
		port: 25                                   # TCP port to connect to
		smtpoptions:
			ssl:
				verify_peer: false
				verify_peer_name: false
		from:
			email: robot@nember.cz
			name: Lekovnice
forms:
    messages:
        EQUAL: 'Prosím vložte %s.'
        NOT_EQUAL: 'Hodnota by měla být %s.'
        FILLED: 'Vyplňte povinná pole.'
        BLANK: 'Toto pole by mělo být prázdné.'
        MIN_LENGTH: 'Prosím zadejte alespoň %d znaků.'
        MAX_LENGTH: 'Maximum povolených znaků je %d.'
        EMAIL: 'Prosím zadejte validní E-mail.'
        URL: 'Zadejte validná URL adresu.'
        INTEGER: 'Vložte platné celé číslo.'
        FLOAT: 'Zadejte platné číslo.'
        MIN: 'Zadejte hodnotu větší či rovno %d.'
        MAX: 'Zadejte hodnotu menší než %d.'
        RANGE: 'Zadejte hodnotu mezi %d a %d.'
        MAX_FILE_SIZE: 'Velikost souboru může být maximálně %d bytes.'
        MAX_POST_SIZE: 'Nahraná data přesahují %d bytes.'
        MIME_TYPE: 'Neočekávaný formát souboru.'
        IMAGE: 'Nahradný soubor musí být obrázek: JPEG, GIF or PNG.'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

di:
	export:
		parameters: no
		tags: no

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

session:
    debugger: true        # (bool) výchozí je false
    autoStart: true
#    expiration: 14 days  # (string) výchozí je '3 hours'


dibi:
	dsn: 'sqlsrv:server=akordsadadadasdasd.nem.local;database=Aksadaordasdawedsadas'
	username: 's-leky'
	password: 'asdadwdafcaedsfadfaxcd'
	lazy: TRUE
	driver: pdo

dibiPostgre:           # privátní databáze aplikace - uživatelé, logy, konfigurační nastavení 
	host: 10.40.20.101
	username: asdagvqwvqf
	password: asdadadadasdasdvae
	database: asdasdavddfv
	lazy: TRUE
	driver: postgre

services:
	tracy.logger: Tracy\EnhancedLogger(@user, @dibiPostgre.connection, %appName%, %mailerConfig%, %admin%)
	- App\Router\RouterFactory::createRouter
	- App\Model\Auth(@user, @dibiPostgre.connection, %parameters%)
	- App\LekyModule\Forms\LekyFormFactory(@user, @dibi.connection, %parameters%)
	- App\LekyModule\Grids\LekyGridFactory(@user, @dibi.connection, %parameters%)
	- App\LekyModule\Model\Leky(@user, @dibi.connection, %parameters%)
	- App\UserModule\Forms\UserFormFactory(@user, @dibiPostgre.connection, %parameters%)
	- App\UserModule\Grids\UserGridFactory(@user, @dibiPostgre.connection, %parameters%)
	- App\UserModule\Model\User(@user, @dibiPostgre.connection, %parameters%)
	- App\CiselnikyModule\Forms\CiselnikyFormFactory(@user, @dibi.connection, %parameters%)
	- App\CiselnikyModule\Grids\CiselnikyGridFactory(@user, @dibi.connection, %parameters%)
	- App\CiselnikyModule\Model\Ciselniky(@user, @dibi.connection, %parameters%)
	- App\LogyModule\Model\Logy(@user, @dibi.connection, @dibiPostgre.connection, %parameters%)
	- App\LogyModule\Model\LogAccessModel(@user, @dibi.connection, @dibiPostgre.connection, %parameters%)
	- App\LogyModule\Model\LogDB(@user, @dibi.connection, @dibiPostgre.connection, %parameters%)
	- App\LogyModule\Model\LogExceptionsModel(@user, @dibi.connection, @dibiPostgre.connection, %parameters%)
	- App\LogyModule\Model\LogLoginModel(@user, @dibi.connection, @dibiPostgre.connection, %parameters%)
	- App\LogyModule\Model\LogSendingsModel(@user, @dibi.connection, @dibiPostgre.connection, %parameters%)
	- App\Components\Model\Datagridmodul(@user, @dibi.connection, %parameters%)
#presenters
	- App\Presenters\HomepagePresenter(%parameters%)
#Factories
	- App\Factory\DataGridFactory
